[Unit]
Description=Email API (FastAPI/Uvicorn)
Wants=network-online.target
After=network-online.target

[Service]
User=emailapi
WorkingDirectory=/opt/emailapi
Environment="PATH=/opt/emailapi/venv/bin"
ExecStart=/opt/emailapi/venv/bin/uvicorn main:app --host 127.0.0.1 --port 8002 --proxy-headers --forwarded-allow-ips="*"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
